.main{
  box-sizing: border-box;
  background: #faf9f9;
  width: 690px;
  height: 844px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.login{
  text-align: center;
  font-size: 60px;
}

